.CourseComponent {
    max-width: 98%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1em;
    background-color: #fff;
    border-radius: 12px;
}

@media screen and (max-width: 992px) {
    .CourseComponent {
        max-width: 100%;
    }
}

.heading {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c16f17;
    border-radius: 12px;
    text-align: center;
}

@media screen and (max-width: 525px) {
    .heading {
        height: 80px;
    }
}

.heading:hover {
    cursor: pointer;
}

.heading h4 {
    margin: 0 !important;
}

.heading > div:first-child {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 1.25rem;
    margin-bottom: 3px;
}

@media screen and (max-width: 525px) {
    .heading > div:first-child {
        margin-bottom: 0 !important;
    }
    .heading > div:first-child img {
        display: none;
    }
}

.heading > div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;
    margin-right: 1.25rem;
    background-color: #db9347;
    border-radius: 12px;
}

.heading > div:last-child p {
    margin: 0 !important;
}

@media screen and (max-width: 525px) {
    .heading h4 {
        font-size: 16px;
    }
    .course-button p {
        font-size: 12px;
    }
    
}

.body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}