.text-orange {
    color: #fd7e14 !important;
}
.text-dark {
    color: #212529 !important;
}
.text-black {
    color: #000000 !important;
}

.container,
.container-fluid {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}