.bg-fluid-1 {
    background-image: url('../../assets/images/background@1x1.svg');
    background-repeat: no-repeat;
    background-position: 100%;
    background-position-y: 10px;
    background-color: #c16f17;
}

.bg-fluid-2 {
    background-image: url('../../assets/images/background@1x2.svg');
    background-position-y: -400px;
    background-size: 100%;
    background-repeat: repeat-y;
}

.bg-gray {
    background-color: #f5f7f7;
}

@media screen and (max-width: 768px) {
    .bg-fluid-1 {
        background-position-y: 100%;
        background-size: 0;
    }
}

.intro-container {
    height: auto;
    display: flex;
    color: #fff;
    justify-content: space-between;
    padding-bottom: 1em;
}

@media screen and (max-width: 768px) {
    .intro-container, .about-container {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }   
}

.container-left, .container-right {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container-left {
    position: relative;
    padding: 3em 0;
    align-items: flex-start;
}

.container-right {
    align-items: flex-end;
}

.intro-cardvideo {
    transform: translateY(50px);
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .container-right {
        max-width: 400px;
    }
    .intro-cardvideo {
        transform: unset;
    }
}

.hacking-icon {
    position: absolute;
    left: -13%;
    top: 9%;
    width: 65px ;
    height: 65px;
    border-radius: 50%;
    background: #f89f41;
    background-image: url(../../assets/images/hacking_icon.svg);
    background-size: auto 50px;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
    .container-left, .container-right {
        width: 100%;
        align-items: center;
        z-index: 1;
    }

    .container-left h1, span {
        text-align: center;
    }
    .hacking-icon {
        top: 5%;
        left: auto;
        opacity: .3;
        width: 300px;
        height: 300px;
        z-index: -1;
        background-size: 250px;
    }
}

.about-container {
    height: auto;
    display: flex;
}

.about-png {
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    background-image: url('../../assets/images/course3_blob_p@800.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position-y: 30%;
    transform: scale(1.1) scaleX(-1) translateX(20px);
    opacity: 0.9;
}

@media screen and (max-width: 768px) {
    .about-container {
        text-align: center !important;
        align-items: center !important;
    }
    .about-png {
        position: absolute;
        opacity: .3;
        background-size: 300%;
        transform: unset;
        background-position-y: auto;
        background-position-x: 20%;
        z-index: -1;
    }   
}

.our-metrics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .our-metrics {
        margin-top: 2em;
    }
}

.our-metrics > div {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .our-metrics > div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.our-metrics > div > div {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 2px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .our-metrics > div > div {
        width: 70%;
        margin: 5px 0;
    }
}

.our-metrics > div > div > img {
    box-shadow: 0 4px 20px 5px rgb(0 0 0 / 8%);
}

.courses-container {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    padding-bottom: 2em;
}

@media screen and (max-width: 992px) {
    .courses-container {
        flex-direction: column;
    }
}

.courses-leftbar {
    flex-grow: 1;
}

@media screen and (max-width: 992px) {
    .courses-leftbar {
        width: 100%;
    }
}

.course-rightbar {
    position: relative;
    width: 400px;
    height: auto;
}


@media screen and (max-width: 992px) {
    .course-rightbar {
        width: 100%;
    }
    .fixed-bar {
        display: none;
    }
}

.fixedBarSt1 {
    position: fixed;
    top: 82px;
}

.fixedBarSt2 {
    position: absolute !important;
    bottom: 0 !important;
    top: unset !important;
}

@media screen and (max-width: 992px) {
    .fixedBarSt1 {
        position: unset !important;
        top: unset;
    }
}

.gift-box {
    width: 360px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    margin-top: 1em;
    box-shadow: 0 4px 20px 5px rgb(0 0 0 / 8%);
}

@media screen and (max-width: 992px) {
    .gift-box {
        width: 100%;
    }
}

.gift-box:hover {
    cursor: pointer;
}

.gift-box p {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 14px;
    line-height: 17px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer > div {
    width: 50%;
}

@media screen and (max-width: 992px) {
    .footer {
        flex-direction: column;
    }
    .footer > div {
        width: 100%;
    }
}

.footer img {
    border-left: 3px #212529 solid;
    padding-left: 2px;
}

.footer > div:first-child > div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.footer > div:first-child div > span {
    margin-bottom: 5px;
    font-size: 13px;
}

.footer > div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: end;
}

.footer form {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 525px) {
    .footer form {
        flex-direction: column;
    }
}